* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); 
@import "./base/discografia";
@import "./base/fechas";
@import "./base/descargas";
@import "./base/contacto";
@import "./base/mixin.scss";

%contenedor {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px; 
}
.menu-container {
    @extend %contenedor; }
   
   
header{
    background-color: nth($colores, 1 );
    position: static;
    display: flex;
    text-decoration: none;
   
       
        nav {
        ul {
         display: inline;
         display: flex;
         justify-content: end;

        }   li {
            text-decoration: none;
            display: inline;
            list-style: lower-roman;
            padding: 10px 40px;
                a {
        color: #3a555f ;
                    }
 
                }      
            }

            .nav-animation:hover {
                transform: scale(1.2);
                transition: all 1s;
    
    }
    
    .logo-animation:hover {
        transform: scale(1.2);
                transition: all 1.5s;
     }
    
}

section {
    text-align: center;
}


footer {
    background-color: #8dd6ce; 
    display: flex;
    
    

    div {
        a {
            margin: 5px;
        }
        div {
            h4 {
                margin-top: 8px;
    margin-bottom: 15;
            }
        }
        

    }
    .logo-animation:hover {
       
         transform: scale(1.2);
                transition: all 1.5s;
     }
      }

      .pie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
         }
    .seguinos {
            height: 40px;  
        }
        
    .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

/*Grid de la seccion noticias*/
      .grid-container {
        display: grid;
        
    
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
         }
    
    
    .grid-item {
        @include cositas(#c2cfd8,10px, 5px  )
       
       
    
        
    }



 h2 {
    &:hover {
        transform: scale(1.2);
        transition: all 1.5s;
    }
 }

.change {
    &:hover {
        background-color: #3a555f;
    }
}

.carru {
    width: 40rem;
    display: flex;
    justify-content: center;
}

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: .5em;
  }
