* {
    margin: 0;
    padding: 0;
text-decoration: none;
}

h1 { 
    text-align: center;
    padding-bottom: 40px;
}

.grid-discos {
   justify-content: center;
    div {
        padding-bottom: 30px;
         } 
}


        
        
        
        

